<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpotSongs</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <div id="nav-bar">
      <aside>
        <div id="logo">
          <img src="/images/music.svg" alt="Spot Songs Logo">
        </div>
        
        <div id="explore">Explore</div>
        <div id="search">Search</div>
        <div id="library">Library</div>

        <div id="bottom-aside">
          <img src="/images/darkmode.svg" alt="">
        </div>
      </aside>
    </div>
  </body>
</html>
